<% privacy = (item.private) ? "private" : "public" %>

<li>
  <%= link_to item.title, item_url(item) %>
  <%= privacy %>
  <br>

  <% if current_user && current_user.id == item.user_id %>
    <%= button_to "Delete", item_url(item), method: :delete %>
    <%= link_to "Edit Item", edit_item_url(item) %>
  <% end %>
</li>
